<form method="POST" action="/behavior/reporting/evening">
    <div class="form-group">
        <label for="dateInput">Date</label>
        <input type="date" name="date" class="form-control" id="dateInput" value="<%= date %>" />
        <%- include('./error.ejs', { errors: errors, attribute: 'date'}) %>
    </div>
    <div class="form-group">
        <label for="exerciseInput">Time spent on sports and exercise</label>
        <input type="number" name="exerciseTime" class="form-control" id="exerciseInput" step="0.1"
            placeholder="e.g., 5.5" value="<%= exerciseTime %>" />
        <%- include('./error.ejs', { errors: errors, attribute: 'exerciseTime'}) %>
    </div>
    <div class="form-group">
        <label for="studyInput">Time spent studying</label>
        <input type="number" name="studyTime" class="form-control" id="studyInput" step="0.1" placeholder="e.g., 5.5"
            value="<%= studyTime %>" />
        <%- include('./error.ejs', { errors: errors, attribute: 'studyTime'}) %>
    </div>
    <div class="form-group">
        <label for="eatInput">Regularity and quality of eating</label>
        <input type="range" name="eatQuality" class="custom-range" id="eatInput" min="1" max="5"
            value="<%= eatQuality %>" />
        <%- include('./error.ejs', { errors: errors, attribute: 'eatQuality'}) %>
    </div>
    <div class="form-group">
        <label for="moodInput">Generic Mood</label>
        <input type="range" name="mood" class="custom-range" id="moodInput" min="1" max="5" value="<%= mood %>" />
        <%- include('./error.ejs', { errors: errors, attribute: 'mood'}) %>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-secondary">Submit</button>
    </div>
</form>