<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs', logged) %>
<div class="container col-md-5 text-center">
    <div class="pt-5 pb-2">
        <h2 class="h3 mb-3 font-weight-normal">Reporting</h2>
        <div class="row justify-content-center">
            <%- include('./partials/notif.ejs', {notif: data.notif}) %>
        </div>
        <p>Report daily activities and behavior. </p>
        <div class="btn-group py-2">
            <a href="/behavior/reporting/morning" style="border-radius: 20px 0 0 20px;" class="btn btn-outline-secondary 
        <% if (data.type === 'morning'){ %> active <% } %>">Morning</a>
            <a href="/behavior/reporting/evening" style="border-radius: 0 20px 20px 0;" class="btn btn-outline-secondary 
        <% if (data.type === 'evening'){ %> active <% } %>">Evening</a>
        </div>
    </div>
    <div class="row py-3  justify-content-center">
        <div class="col-8">
            <% if (data.type === 'morning'){ %>
            <%-include('./partials/morningReport.ejs', data) %>
            <% } %>
            <% if (data.type === 'evening'){ %>
            <%-include('./partials/eveningReport.ejs', data) %>
            <% } %>
        </div>
    </div>
</div>
<%-include('./partials/footer.ejs') %>